/* google font------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppns:wght@500&display=swap');
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* section-1 style Top Banner-------------------------------- */
.section-1{
    background: #161616;
    Width: 1250px;
    height: 617px;
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    
}
.top-text{
    padding-left: 30px;
}
.top-image{
    margin-right: 30px;
    margin-top: 30px;
    
}

.top-image,.top-text{
    width: 50%;
}
.top-title{
    margin: 20px 0;
    font-weight:800;
    font-size:70px;
    color: white;
}
.top-text p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.top-image img{
    height: 590px;
    width: 100%;
}
@keyframes background{
    from{
        background-color:blue;
    }
    to{
        background-color:red;
    }
}
.play-button{
    animation: background 3s ease-in-out 0s infinite alternate;
    animation-play-state: running;
    padding: 16px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    width: 180px;
}
/* section-2 style Blog------------------------------- */
.section-2{
    width: 1250px;
    display:flex;
    margin-bottom: 150px;
}
.menu{
    height: 300px;
    width: 300px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
}
.menu a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color:white;
    width: 200px;
    padding: 17px 0;
    margin:16px 0;
    text-align: center;
    border-radius: 10px;
    color: black;
    border: 1px solid gray;
}
.menu a.selected{
    background-color:rgba(221, 0, 0, 1);
}
.blogs,.matches,.all-group{
    flex-grow: 1;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 10px;
}
.blog{
    border: 0.5px solid lightgray;
    border-radius: 10px;
    background-color: snow;
    width: 304px;
}
.blog img{
    width: 100%;
}
.details{
    margin: 20px;
}
.details button{
    background-color: white;
    border-radius: 5px;
}
.time-comment{
    display: flex;
}
.time{
    display: flex;
    align-items: center;
}
.comment{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.match,.group{
    border: 0.5px solid lightgray;
    border-radius: 10px;
    background-color: snow;
    width: 304px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title-text{
    text-align: center;
}
.view-all{
    margin-top: 30px;
    padding: 16px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: red;
    font-size: 20px;
    font-weight: 400;
    width: 180px;
    display: none;
}
/* section-3 style footer------------------------------------------- */
.section-3{
    height: 500px;
    width: auto;
    background-color:rgb(54, 47, 47);
}
.section-3 h3{
    padding-top: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color:  rgba(255, 255, 255, 1);
}
hr{
    width: 90%;
    margin: 50px auto;
    color: rgba(255, 255, 255, 0.1);

}
.contact{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
.contact a{
    color: black;
}
.contact i{
    font-size:80px;
}
.explore{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.explore a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 20px;
}
/* responsive for tablet */
@media only screen and (max-width:992px) and (min-width:689px){

    .section-1{
        Width:650px;
        height: 377px;
        margin-bottom: 80px;
        margin-top: 30px;
    }
    .top-text{
        padding-left: 20px;
    } 
    .top-title{
        margin: 20px 0;
        font-weight:700;
        font-size:40px;
    }
    .top-text p{
        font-size: 14px;
    }
    .top-image img{
        height: 350px;
        width: 100%;
    }
    .section-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 650px;
        margin-bottom: 80px;
    }
    .menu{
        flex-direction: row;
        width: 650px;
        height: 150px;
        background-color: white;
        justify-content: space-between;
        margin-right: 0;
    }
    .blogs,.matches,.all-group{
        grid-template-columns: repeat(2,1fr);
    }
    .last-blog{
        display: none;
    }
    .blog{
        width: 100%;
    }
    .match,.group{
        width: 318px;
    }
    .view-all{
        display: inline-block;
    }
} 
/* responsive for mobile */
@media only screen and (max-width:688px) {
    .section-1{
        flex-direction: column;
        width: 325px;
        height: 503px;
        text-align: center;
        margin-bottom: 50px;
    }
    .top-image,.top-text{
        width: 100%;
    }
    .top-text{
        padding-left: 0;
    }
    .top-title{
        font-size:20px;
    }
    .top-text{
        width: 250px;
    }
    .top-image{
        margin-right: 0;
        margin-top:20px;
        
    }
    .top-image img{
        height: 253px;
        width: 230px;
    }
    .section-2{
        flex-direction: column;
        width: 325px;
        align-items: center;
        margin-bottom: 50px;
    }
    .menu{
        margin-right: 0px;
        background-color: white;
    }
    .blogs,.matches,.all-group{
        grid-template-columns: repeat(1,1fr);
    
}
.blog{
    width: 100%;
}
.match,.group{
    width: 323px;
}
.section-3 h3{
    font-size: 20px;
    padding-top: 40px;
}
hr{
    margin: 30px auto;
}
.explore{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}